@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
    transition: all ease 0.2s;
}

#root {
    min-height: 100vh;
}

body {
    background-color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
